{% extends 'base.html' %}

{% block content %}
<h5>{{creating_title}}</h5>

<form id="my_form" enctype="multipart/form-data" method="post" action="{{creating_url}}" >
    {% csrf_token %}
    <div class="mb-3">
        <label for="" class="form-label">Название:</label>
        <input type="text" class="form-control border-black" name="name" required
            value="{{object_name}}"
        />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Краткое описание:</label>
        <input type="text" class="form-control border-black" name="summary"
            value="{{object_summary}}"
        />
    </div>
    {% if groups != null %}
    <div class="mb-3">
        <input name="groups" type="text" hidden />
        <select class="form-control" id="country" multiple >  
            {% for group in groups %}
            <option value="{{group.id}}" {% if my_groups != null and group.id in my_groups %} selected {% endif %}
            >{{group.name}}</option>
            {% endfor %}
         </select>
    </div>
    {% endif %}

    <div class="mb-3">
        <label for="" class="form-label">Описание:</label>
        <textarea id="editor" name="text">{{ object_description|safe }}</textarea>
    </div>
    {% if "задач" in button_text %}
        <div class="mb-1 form-file">
            <span>Загрузите PDF файл с описанием задачи</span>
            <input class="filepond" type="file" name="mainPdf" accept="application/pdf" id="InputPdf">
        </div>
    {% endif %}

    <div class="mb-1 form-file">
        <span>Загрузите дополнительные файлы</span>
        <input class="filepond" type="file" name="attachments" multiple="multiple" id="InputFiles">
    </div>
    <div class="d-flex justify-content-end mb-4">
        {% if task_id %}
        <a class="btn btn-outline-primary align-self-end me-2" href="{% url 'task_formulas' task_id=task_id %}">Перейти к формулам</a>
        {% elif course_id %}
        <a class="btn btn-outline-primary align-self-end me-2" href="{% url 'course-tasks' course_id=course_id %}">Перейти к лабораторным</a>
        {% endif %}
        <input class="btn btn-primary align-self-end " type="submit"
            value="{{button_text}}"
        />
    </div>
</form>
<script src="https://cdn.tiny.cloud/1/egqao2izbex2h6fh3c9dxjlimuy91hh5xl0bvl7p6ce5jd1v/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.0/slimselect.min.js" integrity="sha512-mG8eLOuzKowvifd2czChe3LabGrcIU8naD1b9FUVe4+gzvtyzSy+5AafrHR57rHB+msrHlWsFaEYtumxkC90rg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

    tinymce.init({
        selector: '#editor',
        plugins: 'emoticons image link lists',
        toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | emoticons',
        image_title: true,
        automatic_uploads: true,
    });
    
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    
    FilePond.setOptions({
        server: {
            url: '/fp',
            process:{
                url:'/process/',
                ode: 'same-origin',
                headers: {"X-CSRFToken": $crf_token},
            },
            patch:{
                url: '/patch/',
                ode: 'same-origin',
                headers: {"X-CSRFToken": $crf_token},
            },
            revert: {
                url:  '/revert/',
                ode: 'same-origin',
                headers: {"X-CSRFToken": $crf_token},
            },
            fetch:{
                url:  '/fetch/?target=',
                ode: 'same-origin',
                headers: {"X-CSRFToken": $crf_token},
            }, 
            load:{
                url: '/load/',
                ode: 'same-origin',
                headers: {"X-CSRFToken": $crf_token},
            }
        },
        
    })


    const pond = FilePond.create(document.querySelector('#InputFiles'),{
        files: [
            {% for id in files %}

            {
                // the server file reference
                source: '{{id}}',
    
                // set type to limbo to tell FilePond this is a temp file
                options: {
                    type: 'limbo',
                },
            },
            {% endfor %}
        ],
        name:"attachments",
        allowMultiple: true,
    })
    const pdfPond = FilePond.create(document.querySelector('#InputPdf'),{
        {% if main_pdf != null%}
        files: [
            {
                // the server file reference
                source: '{{main_pdf}}',

                // set type to limbo to tell FilePond this is a temp file
                options: {
                    type: 'limbo',
                },
            },
        ],
        {% endif %}
        acceptedFileTypes: ["application/pdf"],
        name:"mainPdf",
    })

    {% if groups != null %}
    const select = new SlimSelect({
        select: "#country",
        settings: {
            closeOnSelect: false,
            placeholderText: 'Выберите группы, для которых создаётся курс'
          },
     });
    {% endif %}

    $('#my_form').on('submit', function() {
        {% if groups != null %}
            var GroupsInputs = $("input[name='groups']")
            var selected = select.getSelected();
            {#console.log(selected)#}
            if(selected.length == 0){
                alert("Необходимо выбрать хотя бы одну группу")
                return false;
            }
            GroupsInputs[0].value = selected.join("|")
        {% endif %}
        var AttchmentInputs = $("input[name='attachments']")
        if (AttchmentInputs.length > 0){
            var total = `${AttchmentInputs[0].value}`
            for (var i = 1; i < AttchmentInputs.length; i++) {
                total += `|${AttchmentInputs[i].value}`
            }
            AttchmentInputs[0].name+="[]"
            AttchmentInputs[0].value = total
        }

        var PdfInputs = $("input[name='mainPdf']")
        if (PdfInputs.length > 0){
            var total = `${PdfInputs[0].value}`
            for (var i = 1; i < PdfInputs.length; i++) {
                total += `|${PdfInputs[i].value}`
            }
            PdfInputs[0].name+="[]"
            PdfInputs[0].value = total
        }

        return true
    });
</script>
<style>
    #country {
        height: 35px;
        max-width: 400px;
    }
</style>
{% endblock %}