{% extends 'base.html' %}

{% block content %}
<h5>Создание {{creating_type_name}}</h5>
<form method="post" action="{{creating_url}}">

    <div class="mb-3">
        <label for="" class="form-label">Название:</label>
        <input
            type="text"
            class="form-control rounded-0 border-black"
            name="name"
            required
        />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Описание:</label>
        <textarea 
            id="editor" 
            name="text" 
            class="rounded-0 border-black">
        </textarea>
    </div>
    <div class="mb-1">
        <input
            type="file"
            class="form-control rounded-0 border-black"
            name="attachments"
            multiple
        />
    </div>
    <div class="d-flex justify-content-end mb-4">
        <input
            class="btn rounded-0 align-self-end color-blue"
            type="submit"
            value="Создать"
        />
    </div>
    
</form>



<script>
    var editor = new FroalaEditor('#editor',
    {
        //Это те инсрументы, которые используются
        toolbarButtons:[
            ['formatUL','formatOL', 'outdent', 'indent'],
            ['insertLink'],
            ['emoticons', 'insertImage']
        ],
        lineHeights:{
            Double:1
        },
        language:'ru',
        placeholderText : "",
        quickInsertEnabled:false});
</script>
<style>
    .fr-box{
        border-radius: 0!important;
        border-color: black;
        border-style: solid;
        border-width: thin;
    }
    .fr-top{
        border-radius: 0!important;
    }
    .fr-second-toolbar{
        display: none;
    }
    .color-blue{
        background-color: #004890;
        color: white;
    }
    .color-blue:hover {
        background-color:#42688f; 
        color: white;
    }
</style>

{% endblock %}