{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-md-7 col-12 text-md-start text-center">
        <h4>{{ task.name }}. Практическая часть</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <form id="practice-form" onsubmit="return onGetReport()">
            {% for formula in formulas %}
            <div class="row my-3 border">
                <div class="col">
                    <div class="row mt-2">
                        <h5 class="col text-start">Формула: {{ formula.expression }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row mt-3">
                {% for variable in task.variable_set.all %}
                <div class="col-12 col-sm-4 text-center border">
                    <div class="row p-2">
                        <div class="col-4">
                            <h6>{{ variable.name }}:</h6>
                        </div>
                        <div class="col-8">
                            {% if variable.mapping_set.count > 0 %}
                            <select class="form-select" name="{{ variable.id }}">
                                {% for mapping in variable.mapping_set.all %}
                                <option value="{{ mapping.value }}">{{ mapping.key }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <input type="number" step="any" class="form-control" name="{{ variable.id }}" required>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row my-4">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" id="get-report-btn">Получить отчет</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function onGetReport() {
        fetch('{% url 'task_get_report' task_id=task.id %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new FormData(document.getElementById('practice-form'))
        })
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'report.docx');
            document.body.appendChild(link);
            link.click();
            link.parentNode.removeChild(link);
        });

        return false
    }
</script>
{% endblock %}