{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-md-7 col-12 text-md-start text-center">
        <h4>Создание лабораторной работы. Практика.</h4>
    </div>
    <div class="col-lg-4 col-md-5 col-12 text-md-start text-center">
        <h4>Конструктор формул</h4>
    </div>
</div>
<div class="row mt-4">
    <form action="{% url 'task_create_formula' task_id=task_id %}" method="post" class="col-4 col-md-2">
        {% csrf_token %}
        <input hidden name="next" value="{{ request.path }}" />
        <button id="add_formula_btn" class="btn btn-primary" type="submit">
            Добавить формулу
        </button>
    </form>
    <div class="col"></div>
    <button id="get-v-btn" class="btn btn-primary col-2 me-2">Получить переменные</button>
    <button id="save-btn" class="btn btn-primary col-4 col-md-2" {% if has_empty %} disabled {% endif %}>
        Сохранить
    </button>
</div>
{% for formula in formulas %}
    <div class="row my-3 border">
        <div class="col">
            <div class="row mt-2">
                <h5 class="col text-start">Формула:</h5>
                <form onsubmit="return confirm('Вы действительно хотите удалить эту формулу?')" class="col text-end" action="{% url 'task_delete_formula' task_id=task_id formula_id=formula.id %}" method="post">
                    {% csrf_token %}
                    <input hidden name="next" value="{{ request.path }}" />
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash bi"></i></button>
                </form>
            </div>
            <div class="row my-2">
                <div class="col input-group">
                    <input name="expression" id="{{ formula.id }}" value="{{ formula.expression }}" class="form-control" />
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="row mt-3">
    {% for variable in variables %}
    <div class="col-12 col-sm-4 text-center border" id="variable-{{ variable.id }}">
        <div class="row p-2">
            <div class="col-4">
                <h3>{{ variable.name }}</h3>
            </div>
            <div class="col">
                <div class="row">
                    <select class="form-select" id="variable-type-{{ variable.id }}">
                        <option value="exact" {% if variable.mapping_set.count == 0 %} selected {% endif %}>Ввод значения</option>
                        <option value="selectable" {% if variable.mapping_set.count > 0 %} selected {% endif %}>Выбор из списка</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="mapping-variable-{{ variable.id }}" {% if variable.mapping_set.count == 0 %} hidden {% endif %}>
                <div class="row text-start">
                    <h6>Пары ключ-значение:</h6>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <input placeholder="Ключ" class="form-control" id="key-variable-{{ variable.id }}" />
                    </div>
                    <div class="col-5">
                        <input pattern="[0-9]+([\.,][0-9]+)?" placeholder="Значение" class="form-control" id="value-variable-{{ variable.id }}" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" id="add-key-value-pair-btn" data-variable-id="{{ variable.id }}">+</button>
                    </div>
                </div>
                {% for mapping in variable.mapping_set.all %}
                <div class="row text-start pair">
                    <div class="col text-center">
                        <h6>{{ mapping.key }}</h6>
                    </div>
                    <div class="col text-end">
                        <h6>{{ mapping.value }}</h6>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-outline-danger btn-sm" onclick="deletePair(this)"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
    <script>
        function deletePair(btn) {
            btn.parentElement.parentElement.remove()
        }

        const dropdowns = document.querySelectorAll('select');

        dropdowns.forEach(dropdown => {
          dropdown.addEventListener('change', () => {
            const variableId = dropdown.id.split('-')[2];
            const mappingDiv = document.getElementById(`mapping-variable-${variableId}`);

            if (dropdown.value === 'selectable') {
              mappingDiv.removeAttribute('hidden');
            } else {
              mappingDiv.setAttribute('hidden', '');
            }
          });
        });

        document.querySelectorAll('#add-key-value-pair-btn').forEach(btn => {
          btn.addEventListener('click', () => {
            const variableId = btn.dataset.variableId;
            const keyInput = document.getElementById(`key-variable-${variableId}`);
            const valueInput = document.getElementById(`value-variable-${variableId}`);
            const key = keyInput.value.trim();
            const value = valueInput.value.trim();

            if (!valueInput.checkValidity()) {
                return
            }

            if (key && value) {
              const mappingDiv = document.getElementById(`mapping-variable-${variableId}`);
              const newRow = document.createElement('div');
              newRow.classList.add('row', 'text-start', 'pair');

              const keyCol = document.createElement('div');
              keyCol.classList.add('col', 'text-center');
              const keyText = document.createElement('h6');
              keyText.textContent = key;
              keyCol.appendChild(keyText);

              const valueCol = document.createElement('div');
              valueCol.classList.add('col', 'text-end');
              const valueText = document.createElement('h6');
              valueText.textContent = value;
              valueCol.appendChild(valueText);

              const deleteCol = document.createElement('div');
              deleteCol.classList.add('col', 'text-end');
              const deleteBtn = document.createElement('button');
              deleteBtn.classList.add('btn', 'btn-outline-danger', 'btn-sm');
              deleteBtn.innerHTML = '<i class="bi bi-trash"></i>';
              deleteBtn.addEventListener('click', () => newRow.remove());
              deleteCol.appendChild(deleteBtn);

              newRow.appendChild(keyCol);
              newRow.appendChild(valueCol);
              newRow.appendChild(deleteCol);

              mappingDiv.appendChild(newRow);
              keyInput.value = '';
              valueInput.value = '';
            }
          });
        });
        
        document.getElementById('get-v-btn').addEventListener('click', () => {
            const expressions = document.querySelectorAll('input[name="expression"]');

            fetch(
                "{% url 'task_formula_extract' task_id=task_id %}",
                {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        "ContentType": "application/json"
                    },
                    body: JSON.stringify({"formulas": Array.from(expressions).map(x => x.value), "next": "{{ request.path }}"})
                }
            ).then(response => window.location.reload())
        })

        document.getElementById('save-btn').addEventListener('click', () => {
            const variables = []
            dropdowns.forEach(dropdown => {
                const variableId = dropdown.id.split('-')[2];
                const mappingDiv = document.getElementById(`mapping-variable-${variableId}`);

                if (dropdown.value === 'selectable') {
                  const mapping = [];
                  mappingDiv.querySelectorAll('div.row.text-start.pair').forEach(row => {
                    const key = row.querySelector('h6').textContent;
                    const value = row.querySelectorAll('h6')[1].textContent;
                    mapping.push({ key, value });
                  });

                  if (mapping.length > 0) {
                    variables.push({ id: variableId, mapping });
                  }
                }
            });

            fetch(
                "{% url 'task_formulas_mapping' task_id=task_id %}",
                {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        "ContentType": "application/json"
                    },
                    body: JSON.stringify(variables)
                }
            ).then(response => alert('Изменения успешно сохранены'))
        })
    </script>
{% endblock %}